@import url(../css/fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1400px;
    width: 100%;
    padding: 20px 145px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu__link{
    font-family: 'Light';
font-size: 18px;
font-weight: 700;
line-height: 21px;
color: black;
}
.menu__link:hover{
    color:  #EF4423;
    transition: 0.3s; 
}
.banner__top__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__top{
    padding-bottom: 36px;
}
.banner__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
max-width: 350px;
}
.card__body{
    background: #B71C1C; 
}
.card__about{
 padding: 0 15px;
 color: white;
 font-family: 'Light';
 font-size: 16px;
 font-weight: 400;
}

.card__h3_2{
    padding: 15px 0;
}
.card__p_2{
    padding: 3px 0;
}

.card__h3{
    padding: 8px 0;
}
.card__p{
    padding-bottom: 15px;
}
.card__body2{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background: #6A1B9A;
}
.card__body3{
    background: 
    #303F9F;
}
.card__body4{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background: #00695C;

}
.siu__h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    color: #3A3838;
    font-family: 'Regular';
font-size: 22px;
font-weight: 700;
line-height: 26px;
}

.news{
    background: #EDEDED;
    margin-bottom: 50px;
}
.news__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.news__h3{
 padding: 20px 0;   
 font-family: 'Regular';
font-size: 22px;
font-weight: 700;
line-height: 26px;
}
.news__about{
    max-width: 540px;
}
.news__p{
    font-family: 'Light';
font-size: 18px;
font-weight: 400;
line-height: 21px;
padding-bottom: 20px;
}

.footer{
    background: #3A3838;
}

.footer__wrap{
    padding: 20px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu__link2{
    font-family: 'Light';
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: white;
}
.menu__link2:hover{
    color:  #EF4423;
    transition: 0.3s; 
}